<section id="about-us" class="benefitsSection">
    <div class="benefitsSection__container">
      <div class="benefitsSection__image">
        <img
          src="images/doctor.png"
          alt="A doctor"
        />
      </div>
      <div class="benefitsSection__content">
        <h3 class="benefitsSection__heading">Why Choose Us?</h3>
        <ul class="benefitsSection__list">
          <li class="benefitsSection__listitem">
            <img class="benefitsSection__icon" src="images/Vector-6.svg" />
            Safety First Quality Must
          </li>
          <li class="benefitsSection__listitem">
            <img class="benefitsSection__icon" src="images/Vector-6.svg" />
            Patient-Centric Approach
          </li>
          <li class="benefitsSection__listitem">
            <img class="benefitsSection__icon" src="images/Vector-6.svg" />
            Focused Leadership
          </li>
          <li class="benefitsSection__listitem">
            <img class="benefitsSection__icon" src="images/Vector-6.svg" />
            Cutting-Edge Technology
          </li>
          <li class="benefitsSection__listitem">
            <img class="benefitsSection__icon" src="images/Vector-6.svg" />
            Transparent Pricing
          </li>
          <li class="benefitsSection__listitem">
            <img class="benefitsSection__icon" src="images/Vector-6.svg" />
            Coordinated Care
          </li>
        </ul>
      </div>
    </div>
    <div class="benefitsSecion__contentcontainer">
      <h3 class="benefitsSection__heading">Wellness, Compassion, Quality</h3>
      <p class="benefitsSection__text">
        They live in Bookmarks grove right at the coast of the Semantics, a
        large language ocean. A small river named Duden flows by their place
        and supplies it.
      </p>
      <button class="btn benefitsSection__button">Take An Appointment</button>
    </div>
  </section>