<section id="doctors" class="catgory-container">
    <h2 class="catgory-container__heading">
      Dedicated to provide best treatment
    </h2>
    <p class="catgory-container__text">
      A wonderful serenity has taken possession of my entire soul, like these
      sweet mornings of spring which I enjoy with my whole heart. I am alone,
      and feel the charm of existence in this spot, which was created for the
      bliss of souls like mine.
    </p>
    <div class="categoryservices">
      <div class="category__container">
        <img
          class="category__image"
          src="images/image 41.png"
          alt="Pediatrician"
        />
        <div class="category__info">
          <span class="category__info__text"> For Your Health </span>
          <h2>Pediatrician</h2>
        </div>
      </div>
      <div class="category__container">
        <img
          class="category__image"
          src="images/image 42.png"
          alt="Cardiologist"
        />
        <div class="category__info">
          <span class="category__info__text"> For Your Health </span>
          <h2>Cardiologist</h2>
        </div>
      </div>
      <div class="category__container">
        <img
          class="category__image"
          src="images/image 43.png"
          alt="Dermatologist"
        />
        <div class="category__info">
          <span class="category__info__text"> For Your Health </span>
          <h2>Dermatologist</h2>
        </div>
      </div>
    </div>
  </section>