<section id="checkup-plans" class="checkup-plans">
    <header>
      <div class="checkup-plans__container1">
        <h1 class="checkup-plans__heading">Health Checkup Plans</h1>
        <p class="checkup-plans__text">
          They live in Bookmarks grove right at the coast of the <br/>
          Semantics, a large language ocean named flows.
        </p>
        <div class="checkup-plans__categories">
          <button id="women-health-btn" class="btn">Women Health</button>
          <button id="cancer-screening-btn" class="btn btn--white">Cancer Screening</button>
          <button id="kids-vaccine-btn"
          class="btn btn--white">Kids Vaccines</button>
        </div>
      </div>
    </header>
    <div class="checkup-plans__container2 grid">
      <div class="checkup-plans__content">
        <img
          class="checkup-plans__icon"
          src="images/healthcare.png"
          width="50px"
        />
        <h1 id="checkup-plans__heading2" class="checkup-plans__heading2">Women Health Checkup</h1>
        <p id="checkup-plans__text2"
        class="checkup-plans__text2">
          A wonderful serenity has taken possession of my entire soul,
          like these sweet mornings of spring.
        </p>
        <ul class="checkup-plans__list">
          <li id="list-1-text"
          class="checkup-plans__listitem">
            <img class="checkup-plans-list__icon" src="images/Vector-6.svg" />
            Complete Blood Count with ESR
          </li>
          <li id="list-2-text"
            class="checkup-plans__listitem">
            <img class="checkup-plans-list__icon" src="images/Vector-6.svg" />
            Lipid Profile, Live Profile, kidney Profile
          </li>
          <li
           id="list-3-text"
           class="checkup-plans__listitem">
            <img class="checkup-plans-list__icon" src="images/Vector-6.svg" />
            USG Abdomen with Pelvis, Mammography
          </li>
        </ul>
        <button class="btn benefitsSection__button">
          Take An Appointment
        </button>
      </div>
      <div class="checkup-plans__image">
        <img
          src="images/checkup.png"
          alt="A doctor"
          width="300px"
          height="350px"
        />
      </div>
    </div>
  </section>