<section id="contact-page" class="contact-container grid">
  <div class="contact-container__content">
    <span class="contact-container__tag">APPOINTMENT</span>
    <h3 class="contact-container__heading">
      Get in touch to book <br />
      your first appointment
    </h3>
    <p class="contact-container__text">
      Far far away, behind the word mountains, far <br />
      from the countries Vokalia and Consonantia.
    </p>
    <div class="contact-container__info">
      <span>
        <img class="contact-container__image" src="images/vector-7.svg" />
        (123) 456-7890
      </span>
      <span>
        <img class="contact-container__image" src="images/vector-9.svg" />
        medico@health.care
      </span>
    </div>
  </div>
  <div class="contact-container__form">
    <div class="input-group">
      <input type="text" placeholder="Name" class="input" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="Phone" class="input" />
    </div>
    <div class="input-group">
      <input type="text" placeholder="Email" class="input" />
    </div>
    <div class="input-group">
      <input type="" placeholder="Select Appointment Type" class="input" />
      <div class="dropdown-icon">
        <img src="images/dropdown.svg" />
      </div>
    </div>
    <textarea class="input input--message">Message</textarea>
    <button class="btn form-btn">Submit Now</button>
  </div>
</section>
