<div class="contact-container__form">
  <div class="input-group">
    <input type="text" placeholder="Name" class="input" />
  </div>
  <div class="input-group">
    <input type="text" placeholder="Phone" class="input" />
  </div>
  <div class="input-group">
    <input type="text" placeholder="Email" class="input" />
  </div>
  <div class="input-group">
    <input type="" placeholder="Select Appointment Type" class="input" />
    <div class="dropdown-icon">
      <img src="images/dropdown.svg" />
    </div>
  </div>
  <textarea class="input input--message">Message</textarea>
  <button class="btn form-btn">Submit Now</button>
</div>
