<section class="herosection grid">
    <div class="herosection__image__container">
      <div class="image-text">
        <img
          class="herosection__icon"
          src="images/image 38.png"
          width="20px"
          height="20px"
        />
        <span class="herosection__text">More than 10K Patients treated!</span>
      </div>
      <img
        class="herosection__image"
        src="images/image.png"
        alt="A doctor"
        width="280px"
        height="300px"
      />
    </div>
    <div class="herosection__content">
      <h3 class="herosection__tag">Welcome to Medico Healthcare</h3>
      <h1 class="herosection__heading">
        Your Journey to <br />
        Better Health <br />
        Starts Here
      </h1>
      <a href="https://medico.org/" target="_blank">
        <button class="btn">Discover More</button>
      </a>
    </div>
  </section>