<section id="services" class="SpecialityServices">
    <header class="SpecialityServices__header">
      <span class="SpecialityServices__tag"> SERVICES & TREATMENTS</span>
      <h2 class="SpecialityServices__heading">
        More than 40 speciality <br />
        and health care services
      </h2>
      <button class="btn SpecialityServices__btn">See All Services</button>
    </header>
    <div class="grid SpecialityServices__categories">
      <div class="SpecialityServices__category">
        <div class="grid SpecialityServices__category__container">
          <img src="images/category1.png" width="50px" />
          <div class="category__content">
            <h1 class="category__content__heading">Mental Health Service</h1>
            <p class="category__content__text">
              The service provides immediate medical care to patients with
              acute illnesses or injuries that require immediate attention
            </p>
          </div>
        </div>
        <img class="category__button" src="images/Vector-5.svg" />
      </div>
      <div class="SpecialityServices__category">
        <div class="grid SpecialityServices__category__container">
          <img src="images/category2.png" width="50px" />
          <div class="category__content">
            <h1 class="category__content__heading">Eye Diseasses Service</h1>
            <p class="category__content__text">
              The service provides immediate medical care to patients with
              acute illnesses or injuries that require immediate attention
            </p>
          </div>
        </div>
        <img class="category__button" src="images/Vector-5.svg" />
      </div>
      <div class="SpecialityServices__category">
        <div class="grid SpecialityServices__category__container">
          <img src="images/category3.png" width="50px" />
          <div class="category__content">
            <h1 class="category__content__heading">Vaccination Service</h1>
            <p class="category__content__text">
              The service provides immediate medical care to patients with
              acute illnesses or injuries that require immediate attention
            </p>
          </div>
        </div>
        <img class="category__button" src="images/Vector-5.svg" />
      </div>
      <div class="SpecialityServices__category">
        <div class="grid SpecialityServices__category__container">
          <img src="images/category4.png" width="50px" />
          <div class="category__content">
            <h1 class="category__content__heading">Cardiology Service</h1>
            <p class="category__content__text">
              The service provides immediate medical care to patients with
              acute illnesses or injuries that require immediate attention
            </p>
          </div>
        </div>
        <img class="category__button" src="images/Vector-5.svg" />
      </div>
    </div>
  </section>