<div class="SpecialityServices__category">
    <div class="grid SpecialityServices__category__container">
      <img src="images/category1.png" width="50px" />
      <div class="category__content">
        <h1 class="category__content__heading">Mental Health Service</h1>
        <p class="category__content__text">
          The service provides immediate medical care to patients with
          acute illnesses or injuries that require immediate attention
        </p>
      </div>
    </div>
    <img class="category__button" src="images/Vector-5.svg" />
  </div>