<section id="health-care">
  <div class="grid testimonials">
    <div class="testimonial__image-container">
      <img
        id="testimonial-image"
        src="images/testimonial.png"
        alt="A happy,smiling patient"
        width="400px"
        height="300px"
      />
    </div>
    <div class="testimonial__container">
      <div class="testimonials__quotes">
        <img
          class="testimonials__quotes__image"
          src="images/quotes.png"
          width="50px"
          height="50px"
        />
        <div class="testimonials__rating">
          <img
            class="testimonials__rating__image"
            src="images/rating.png"
            width="100px"
          />
        </div>
      </div>
      <span class="testimonials__heading">
        <h3 id="testimonial-quote" class="testimonial__container__text">
          “A wonderful serenity has taken possession of my entire soul, like
          these sweet mornings of spring which I enjoy”.
        </h3>
      </span>
      <div class="testimonials__patientinfo">
        <p class="patientinfo__name" id="patient-name">Mr. Williams</p>
        <p class="patientinfo__type" id="patient-type">Diabetes Patient</p>
      </div>
    </div>
    <button class="arrow-btn" id="prev-btn">
      <img src="images/leftarrow.svg" alt="Previous" />
    </button>
    <button class="arrow-btn right-arrow" id="next-btn">
      <img src="images/rightarrow.svg" alt="Next" />
    </button>
  </div>
</section>
