<div class="topmenu">
    <div class="topmenu__info">
      <span class="topmenu__location">
        <img
          src="images/Vector-4.svg"
          width="22px"
          height="18px"
          alt="location icon"
        />
        90919 Madie run Apt. 790
      </span>
      <span class="topmenu__email">
        <img
          class="icon-email"
          src="images/vector-7.svg"
          width="22px"
          height="22px"
          alt="location icon"
        />
        medico@health.care
      </span>
    </div>
    <span class="topmenu__contact">
      <img
        src="images/vector-8.svg"
        width="22px"
        height="18px"
        alt="location icon"
      />
      Connect on Whatsapp
    </span>
  </div>